@model CreateCourseVM
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic form elements</h4>
                    <p class="card-description"> Basic form elements </p>
                    <form class="forms-sample" enctype="multipart/form-data" asp-controller="Course" asp-action="create">
                        <div class="form-group">
                            <label>File upload</label>
                            <input type="file" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input asp-for=Image class="form-control file-upload-info" placeholder="Upload Image">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                                </span>
                            </div>
                            <span class="text-danger" asp-validation-for="Image"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Title</label>
                            <input asp-for=Title type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Description</label>
                            <textarea asp-for=Description class="form-control" id="exampleTextarea1" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">About</label>
                            <textarea asp-for=About class="form-control" id="exampleTextarea1" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Apply</label>
                            <textarea asp-for=Apply class="form-control" id="exampleTextarea1" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Certifikation</label>
                            <textarea asp-for=Certification class="form-control" id="exampleTextarea1" rows="4"></textarea>
                        </div>

                        <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                        <a asp-controller="course" asp-action="index" class="btn btn-light">Go Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    
    <partial name="_ValidationPartial"/>
}

